.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.ansible/
ansible/inventory/hosts.generated.yml

__pycache__/
*.pyc

secrets/*.dec.yaml
secrets/*.dec.yml
secrets/*.dec.json
secrets/*.plain.yaml
secrets/*.plain.yml
secrets/*.plain.json

.DS_Store

ansible/files/ssh/**
!ansible/files/ssh/**/
!ansible/files/ssh/**/.gitignore
!ansible/files/ssh/**/config
